Source: bash
Section: base
Priority: required
Maintainer: Matthias Klose <doko@debian.org>
Standards-Version: 3.5.6
Build-Depends: autoconf, patch, bison, libncurses5-dev, libreadline4-dev (>= 4.2a-4), texinfo

Package: bash
Architecture: any
Pre-Depends: ${shlibs:Pre-Depends}
Depends: base-files (>= 2.1.12)
Conflicts: bash-completion
Replaces: bash-doc (<= 2.05-1), bash-completion
Essential: yes
Section: base
Priority: required
Description: The GNU Bourne Again SHell
 Bash is an sh-compatible command language interpreter that executes
 commands read from the standard input or from a file.  Bash also
 incorporates useful features from the Korn and C shells (ksh and csh).
 .
 Bash is ultimately intended to be a conformant implementation of the
 IEEE POSIX Shell and Tools specification (IEEE Working Group 1003.2).

Package: bash-builtins
Architecture: any
Depends: bash (= ${Source-Version})
Section: utils
Priority: optional
Description: Bash loadable builtins - headers & examples
 Bash 2 can dynamically load new builtin commands.  Included are the
 necessary headers to compile your own builtins and lots of examples.

Package: bash-doc
Architecture: all
Section: doc
Priority: optional
Replaces: bash (<< 2.03-1)
Description: Documentation and examples for the The GNU Bourne Again SHell
 Bash is an sh-compatible command language interpreter that executes
 commands read from the standard input or from a file.  Bash also
 incorporates useful features from the Korn and C shells (ksh and csh).
 .
 This package contains the documentation in info format, all the
 examples and the main changelog.
